html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: relative;
  color: #222;
  font-family: Charter, serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
}

::selection {
  background: rgba(27, 180, 218, 0.5);
}

#wrapper {
  width: 320px;
  margin: auto;
  padding: 0;
  font-weight: lighter;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.column,
footer {
  margin: 12px;
  width: 272px;
}

.column {
  float: left;
  border-bottom: 1px solid #ff0f68;
}

footer {
  clear: left;
}

footer a {
  font-size: inherit;
}

h1 {
  font-size: 36px;
  margin: 12px 0;
  line-height: 1;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

pre {
  background-color: #f9f8f9;
  color: #3a3739;
  padding: 4px;
  border-radius: 2px;
  font-size: 93%;
  line-height:  1.3em;
}

pre,
code,
.button,
strong,
a,
.response,
footer {
  font-family: Anonymous Pro, monospace;
}

h4 code {
  font-weight: bold;
}

a, strong, .button, code {
  font-size:  1.12em;
}

h4,
hr,
p,
.well {
  margin: 0 0 12px;
}

.well {
  background-color: #f9f8f9;
  border-radius: 4px;
  overflow: hidden;
}

.button {
  margin: 12px;
  display: block;
  height: 23px;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid #e4dce1;
  transition: background-color 300ms;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 236px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 13px;
}

.list li {
  height: 23px;
  line-height: 24px;
  padding: 8px;
  transition: background-color 300ms;
}

.list li + li {
  border-top: 1px solid #e4dce1;
}

.button.__active,
.list li.__active {
  background-color: #e4dce1;
}

.response {
  position: fixed;
  color: #fff;
  top: 0;
  left: 12px;
  right: 12px;
  border-radius: 0 0 4px 4px;
  background-color: #ff0f68;
  padding: 8px;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: all 400ms cubic-bezier(.65,.26,.56,1.23);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

pre {
  overflow: scroll;
}

.response-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 640px) {
  #wrapper {
    width: 960px;
    padding: 12vw;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .response {
    right: auto;
    left: 50%;
    width: 912px;
    margin-left: -456px;
    box-sizing: border-box;
  }

  .column {
    min-height: 392px;
    padding: 12px 0;
    border-top: 1px solid #ff0f68;
  }

  .column,
  footer {
    margin: 24px;
  }

  h4 {
    margin-top: 28px;
  }
}
