html,
body {
  margin: 0;
  padding: 0;
  background-color: #00a99d;
  position: relative;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#wrapper {
  width: 320px;
  margin: auto;
  padding: 0;
  font-weight: lighter;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.column,
footer {
  margin: 12px;
  width: 272px;
}

.column {
  float: left;
  border-bottom: 1px solid #00988d;
}

footer {
  clear: left;
}

h1 {
  font-size: 36px;
  margin: 12px 0;
  line-height: 1;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

pre {
  background-color: #4cbfb4;
  padding: 4px;
  border-radius: 2px;
}

h4,
hr,
p,
.well {
  margin: 0 0 12px;
}

.well {
  background-color: #00988d;
  border-radius: 4px;
  overflow: hidden;
}

.button {
  color: #666;
  margin: 12px;
  display: block;
  height: 23px;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #eee 100%);
  border-radius: 2px;
  text-decoration: none;
}

.button.__active {
  padding: 9px 8px 7px;
  background-image: -webkit-linear-gradient(bottom, #eee 0%, #ddd 100%);
  background-image: -moz-linear-gradient(bottom, #eee 0%, #ddd 100%);
  background-image: -ms-linear-gradient(bottom, #eee 0%, #ddd 100%);
  background-image: -o-linear-gradient(bottom, #eee 0%, #ddd 100%);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 240px;
}

.list li {
  height: 23px;
  line-height: 24px;
  padding: 8px;
  border-bottom: 1px solid #00a99d;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}

.list li.__active {
  background-color: #007f73;
}

.response {
  position: fixed;
  top: 0;
  left: 12px;
  right: 12px;
  border-radius: 0 0 4px 4px;
  background-color: #007f73;
  padding: 8px;
  opacity: 0;
  font-family: monospace;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 600ms cubic-bezier(.65,.26,.56,1.23);
  -moz-transition: all 600ms cubic-bezier(.65,.26,.56,1.23);
  -ms-transition: all 600ms cubic-bezier(.65,.26,.56,1.23);
  -o-transition: all 600ms cubic-bezier(.65,.26,.56,1.23);
  transition: all 600ms cubic-bezier(.65,.26,.56,1.23);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

pre {
  overflow: scroll;
}

.response-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 640px) {
  #wrapper {
    width: auto;
    padding: 12px;
  }

  .column {
    min-height: 400px;
    border-top: 1px solid #00988d;
  }

  .column,
  footer {
    margin: 24px;
  }

  h4 {
    margin-top: 28px;
  }
}
